.dpp-container {
    font-family: monospace;
}

.month {
    border: 1px solid #ccc;
    padding: 20px;
}

.month-header {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.week {
    
}

.week-header {
    display: flex;
}

.single-header {
    padding: 5px 20px;
}

.week-header abbr {
    flex-grow: 1;
    text-align: center;
}

.week-content {
    display: flex;
}

.week-content > .day, .week-content > .empty {
    flex-grow: 1;
    flex-basis: 80px;
    text-align: center;
}

.day {
    line-height: 30px;
}

.day > label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.day.disabled {
    background-color: #ccc;
}

.day.selected {
    background-color: gold;
}

.day.today {
    background-color: #e45;
}

.checkbox {
    display: none;
}

.month-header {
    display: flex;
    justify-content: space-between;
}